body {
    background-color: black;
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

h5 {
    color:  white;
}

nav a {
    color: white !important;
}

hr {
    border: 1px solid #17a2b8;
}

i {
    color: white;
}

p {
    color: white;
}

.icon-container {
    background-color: #17a2b8;
}

ul {
    list-style-type: none;
}

/* Styles for the span with the function go-up*/

.go-up {
    width: 3rem;
    height: 3rem;
	display: none;
	padding: 20px;
    background: #ffffff;
    border-radius: 100%;
    opacity: .5;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	position: fixed;
	bottom: 5rem;
	right: 0.5rem;
}

span i {
    position: fixed;
	bottom: 5rem;
    right: 0.5rem;
    color: black; 
    display: none;
	padding: 0.375rem;
}